<p>student works!</p>

<h1 [ngStyle]="{color:mycolor}">welcome  : {{sname}}</h1>

<form >
   SID:<input type="text" name="sid" [value]=sid/><br>
   SNAME:<input type="text" name="sname" [(ngModel)]="sname"/><br>
   select Item :<select >
    <option *ngFor="let x of items">
        {{x}}
    </option>

   </select>
<button type="button" (click)="getData()" >GetData</button>

</form>

<br>
<img [src]=imageURL>

<br>

<h1 *ngIf="5>3"> this is madhuri</h1>

<h1 *ngIf="isValid()"> this is rohitha</h1>

<h1 *ngIf="false"> this is madhu</h1>

<table border="1">
    <tr *ngFor="let item of items"><td>{{item}}</td></tr>

</table>
<table border="1">
    <tr *ngFor="let student of studentList">
        <td>{{student.id}}</td>
        <td>{{student.sname}}</td>
        <td>{{student.fee}}</td>
    </tr>
</table>

<!-- Enter Course:<input type="text" name="course" [(ngModel)]="course"/>

<div [ngSwitch="course"]>
<div *ngSwitchCase="'Java'"><img src ="../../Java.jpeg"></div>
<div *ngSwitchCase="'Python'"><img src ="../../Python.jpeg"></div>
<div *ngSwitchCase="'mysql'"><img src ="../../mysql.jpeg"></div>
<div *ngSwitchDefault="''"><img src ="../../moon.jpeg"></div>
</div>   -->

