<h1>welcome to my demo project</h1>


<form class="container col-lg-4" #formData=ngForm (ngSubmit)="readFormData(formData)" >
 <div class="form-group">
ID:<input type="text" name="id" class="form-control"  ngModel/><br>
<br>
Name:<input type="text" name="myname" class="form-control"  ngModel/><br>
<button type="button" class="btn btn-primary" name="submit">Submit</button><br>
</div></form>

<!-- <select class="form-group">
    <option *ngFor="let m of datalist">
      {{m}}
    </option>
</select>
</div>
</form>

<table border="1">
    <tr *ngFor="let x of datalist">
        <td>
            {{x}}
        </td>
    </tr>

</table> -->


